<mat-progress-spinner *ngIf="loading" color="primary" mode="indeterminate" strokeWidth="3"></mat-progress-spinner>
<article *ngIf="!loading">
  <app-card [cardWidth]="33">
    <div>
      <!-- Card title -->
      <h1 class="card-title">
        <a class="text-link" (click)="back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> {{microchip?.name}}
        </a>
      </h1>
      <span>{{ microchip?.description }}</span>
      <div>
        <p><b>Microchip IP: </b>{{ microchip?.ip }}</p>
        <p><b>Owner name: </b>{{ microchip?.owner.name | titlecase }} {{ microchip?.owner.last_name | titlecase }}</p>
        <p><b>Description: </b>{{ microchip?.description ? microchip?.description : 'Empty'}} </p>
        <p><b>Tasks:</b> <span *ngIf="tasks.length === 0"> None</span></p>
        <div *ngIf="tasks.length > 0" class="sub-item">
          <ul>
            <li *ngFor="let task of tasks">
              <a class="text-link" [routerLink]="['/dashboard', 'tasks', task._id]">{{ task.name }}</a>
            </li>
          </ul>
        </div>
        <!--<p><b>Temperature: </b><span [class.warn]="warning">{{ microchipTemp }}</span></p>-->
        <!-- Card actions -->
        <div>
          <div fxLayout="row" fxLayoutGap="10px">
            <span fxFlex></span>
            <button mat-raised-button color="warn" (click)="openDialog()">Delete</button>
            <a mat-raised-button color="primary" [routerLink]="['/dashboard', 'microchips', 'edit', microchip?._id]">
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </app-card>
</article>
