<div id="auth-container" fxFill fxLayout="column">
  <div fxFlex="30"></div>
  <div fxFlex="36">
    <app-card [cardWidth]="25">
      <md-card-header>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <mat-icon fxFlex>lock</mat-icon>
          <mat-card-title fxFlex>Login on Serverchip</mat-card-title>
        </div>
      </md-card-header>
      <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxFill>
            <mat-form-field floatPlaceholder="auto" fxFill>
              <input matInput name="email" formControlName="email" type="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field floatPlaceholder="auto" fxFill>
              <input matInput name="password" formControlName="password" type="password" placeholder="Password">
            </mat-form-field>
            <div fxLayout="column" fxLayoutGap="10px" id="form-errors">
              <span *ngIf=""></span>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutAlign="center center">
                <!--<mat-checkbox fxFlex color="primary" formControlName="remember">Remember me</mat-checkbox>-->
                <span fxFlex></span>
                <button fxFlex mat-raised-button color="primary" type="submit"
                        [disabled]="formGroup.invalid">Login
                </button>
              </div>
              <mat-card-footer>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
                  <span fxFlex="33" id="reset-password"><a [routerLink]="['/']">Forgot your password?</a></span>
                  <div fxFlex="30px" fxLayout="column" id="footer-link">
                    <span fxFlex="33"></span>
                    <a fxFlex="33" [routerLink]="['/sign-up']">Create an account</a>
                    <span fxFlex="33"></span>
                  </div>
                </div>
              </mat-card-footer>
            </div>
          </div>
        </form>
      </mat-card-content>
    </app-card>
  </div>
  <div fxFlex="33"></div>
</div>
