<article class="content item-editor-page">
  <busy-loader [isActive]="loading" [big]="loading" [show]="loading" [color]="'#4bcf99'"></busy-loader>
  <div class="title-block" *ngIf="!loading">
    <h3 class="title">
      <a [routerLink]="['/dashboard', 'tasks']"><i class="fa fa-chevron-left"></i></a>
      {{ task?.name }}
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
    <p class="title-description"> {{ task?.description }} </p>
  </div>
  <div class="card card-block" *ngIf="!loading">

    <p><b>Output port number: </b>{{ task?.output_port.number }}</p>
    <p><b>Output port state: </b>{{ task?.output_port.state }}</p>
    <p><b>Microchip: </b>
      <a [routerLink]="['/dashboard', 'microchips', task?.microchip._id]">{{ task?.microchip.name }}</a>
    </p>
    <p><b>Microchip IP: </b>{{ task?.microchip.ip }}</p>
    <p><b>Conditions: </b></p>
    <ul>
      <li *ngFor="let condition of task?.conditions">
        {{condition.name}}
      </li>
    </ul>

    <div class="row">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-pill-left btn-primary">Primary</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-pill-right btn-danger">Danger</button>
      </div>
    </div>
  </div>
</article>

