<article class="content item-editor-page">
  <busy-loader [isActive]="loading" [big]="loading" [show]="loading" [color]="'#4bcf99'"></busy-loader>
  <div class="title-block" *ngIf="!loading">
    <h3 class="title">
      <a [routerLink]="['/dashboard', 'tasks']"><i class="fa fa-chevron-left"></i></a>
      {{ task?.name }}
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
    <p class="title-description"> {{ task?.description }} </p>
  </div>
  <div class="card card-block" *ngIf="!loading">

    <p><b>Output port number: </b>{{ task?.output_port.number }}</p>
    <p><b>Output port state: </b>{{ task?.output_port.state }}</p>
    <p><b>Microchip: </b>
      <a [routerLink]="['/dashboard', 'microchips', task?.microchip._id]">{{ task?.microchip.name }}</a>
    </p>
    <p><b>Microchip IP: </b>{{ task?.microchip.ip }}</p>
    <p><b>Conditions: </b></p>
    <div class="condition" *ngFor="let condition of task?.conditions">
      <p><b>Name: </b>{{condition.name}}</p>
      <span class="sparkline bar" data-type="bar"></span>
    </div>
  </div>
  <div class="pull-right" *ngIf="!loading">
    <button type="button" class="btn btn-primary">Edit</button>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirm-modal">Delete</button>
  </div>
</article>


<!--Delete modal-->
<div class="modal fade" id="confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-warning"></i> Alert</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure want to do delete the microchip "{{task?.name}}"?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"
                (click)="deleteTask()">Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


