<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      {{ task?.name }}
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
    <p class="title-description"> {{ task?.description }} </p>
  </div>

  <div class="card card-block">

    <p><b>Output port number: </b>{{ task?.output_port.number }}</p>
    <p><b>Output port state: </b>{{ task?.output_port.state }}</p>
    <p><b>Microchip name: </b>{{ task?.microchip.name }}</p>
    <p><b>Microchip IP: </b>{{ task?.microchip.ip }}</p>
    <div class="row">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-pill-left btn-primary">Primary</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-pill-right btn-danger">Danger</button>
      </div>
    </div>
  </div>

</article>
