<md-card class="main-card">
  <md-card-content>
    <article class="content items-list-page">
      <md-progress-bar *ngIf="loading"
                           color="primary"
                           mode="indeterminate">
      </md-progress-bar>
      <md-grid-list *ngIf="!loading" cols="4" rowHeight="fit">
        <md-grid-tile colspan="3">
          <div class="title-block">
            <div class="row">
              <div class="col-md-6">
                <h1 class="title">Tasks
                  <a md-raised-button color="primary" [routerLink]="['/dashboard', 'tasks', 'new']">Add New</a>
                </h1>
                <h3>List of tasks in this server </h3>
              </div>
            </div>
          </div>
        </md-grid-tile>
        <md-grid-tile colspan="1">
          <div class="items-search">
            <form class="form-inline" _lpchecked="1">
              <div class="input-group">
                <input class="form-control boxed rounded-s" placeholder="Search tasks">
                <span class="input-group-btn">
					        <button class="btn btn-secondary rounded-s" type="button"><i class="fa fa-search"></i></button>
				        </span>
              </div>
            </form>
          </div>
        </md-grid-tile>
      </md-grid-list>
      <div class="card items" *ngIf="!loading">
        <!-- Table with tasks -->

      </div>
    </article>
  </md-card-content>
</md-card>
