<div id="auth-container" fxFill fxLayout="column">
  <div fxFlex="15vp"></div>
  <div fxFlex="70vp">
    <app-card [cardWidth]="25">
      <md-card-header>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
          <mat-icon fxFlex>assignment</mat-icon>
          <mat-card-title fxFlex>Sign up on Serverchip</mat-card-title>
        </div>
      </md-card-header>
      <mat-card-content>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxFill>
            <mat-form-field floatPlaceholder="auto" fxFill>
              <input matInput formControlName="name" type="text" placeholder="Name">
            </mat-form-field>
            <mat-form-field floatPlaceholder="auto" fxFill>
              <input matInput formControlName="last_name" type="text" placeholder="Last Name">
            </mat-form-field>
            <mat-form-field floatPlaceholder="auto" fxFill>
              <input matInput formControlName="email" type="email" placeholder="Email">
              <mat-hint align="start" [ngStyle]="{'color': 'red'}"
                        *ngIf="formGroup.get('email').errors?.email && formGroup.get('email').touched">
                Must enter a valid email address
              </mat-hint>
              <mat-hint align="start" *ngIf="nonUniqueEmail"
                        [ngStyle]="{'color': 'red'}">Email address in use
              </mat-hint>
            </mat-form-field>
            <div formGroupName="passwords">
              <mat-form-field floatPlaceholder="auto" fxFill>
                <input #password matInput formControlName="password" type="password" placeholder="Password">
                <mat-hint align="start" [ngStyle]="{'color': 'red'}"
                          *ngIf="formGroup.get('passwords.password').errors?.minlength && formGroup.get('passwords.password').touched">
                  Password must have 8 or more characters
                </mat-hint>
              </mat-form-field>
              <mat-form-field fxFill>
                <input matInput formControlName="rePassword" type="password" placeholder="Confirm password">
                <mat-hint align="start" [ngStyle]="{'color': 'red'}"
                          *ngIf="formGroup.hasError('notSame', 'passwords') && formGroup.get('passwords.password').touched">
                  Passwords don't match
                </mat-hint>
              </mat-form-field>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" id="form-errors">
              <span *ngIf=""></span>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex></span>
                <button fxFlex mat-raised-button color="primary" type="submit"
                        [disabled]="formGroup.invalid || formGroup.hasError('notSame', 'passwords')">Sign up
                </button>
              </div>
              <mat-card-footer>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center stretch">
                  <div fxFlex="30px" fxLayout="column" id="footer-link">
                    <span fxFlex="33"></span>
                    <a fxFlex="33" [routerLink]="['/login']">Login</a>
                    <span fxFlex="33"></span>
                  </div>
                </div>
              </mat-card-footer>
            </div>
          </div>
        </form>
      </mat-card-content>
    </app-card>
  </div>
  <div fxFlex="15vp"></div>
</div>
