\:host
    display: flex
    flex: 1

md-sidenav
    width: 320px

md-nav-list, md-nav-list a
    width: 100%

md-sidenav-container, #main-content
    width: 100%
    height: 100%

.sidenav-container
    width: auto
    height: 300px

.sidenav-container md-sidenav
    max-width: 200px

.sidenav-container .mat-sidenav-content,
.sidenav-container md-sidenav
    display: flex
    overflow: visible

.fa
    margin-right: 10px
