\:host
    display: flex
    flex: 1

md-sidenav
    width: 320px

md-nav-list, md-nav-list a, md-sidenav-container
    width: 100%

md-sidenav-container
    height: 100%

#main-content
    padding: 3em 5em

.sidenav-container
    width: auto
    height: 300px

.sidenav-container md-sidenav
    max-width: 200px

.sidenav-container .mat-sidenav-content,
.sidenav-container md-sidenav
    display: flex
    overflow: visible

.fa
    margin-right: 10px
