<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <!-- TODO Add a header here -->
        <!--<a mat-list-item>Serverchip</a>-->
        <a mat-list-item [routerLink]="['/dashboard/tasks']">
          <i class="fa fa-tasks fa-lg fa-fw"></i> Tasks
        </a>
        <a mat-list-item [routerLink]="['/dashboard/microchips']">
          <i class="fa fa-microchip fa-lg fa-fw"></i> Microchips
        </a>
        <a mat-list-item [routerLink]="['/dashboard/reports']">
          <i class="fa fa-file-text-o fa-lg fa-fw"></i> Reports
        </a>
        <a mat-list-item href="https://serverchip.github.io/docs/" target="_blank">
          <i class="fa fa-book fa-lg fa-fw"></i> Documentation <i class="fa fa-external-link fa-fw"></i>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="mat-24">menu</mat-icon>
      </button>
      <span>Serverchip</span>
      <span fxFlex></span>

      <a>User</a>
      <button mat-icon-button [matMenuTriggerFor]="themeMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>
    <div id="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</div>
