<article class="content item-editor-page">

  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/dashboard', 'tasks']"><i class="fa fa-chevron-left"></i></a>
      New task
      <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="card card-primary">
      <div class="card-header">
        <div class="header-block">
          <p class="title">Task details</p>
        </div>
      </div>
      <div class="card-block">
        <div class="form-group">
          <label class="control-label" for="task-name">Task name</label>
          <input ngModel id="task-name" class="form-control" type="text" name="task_name" maxlength="60" required>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description <span class="text-muted">(optional)</span></label>
          <textarea ngModel id="description" class="form-control" name="description" rows="3"
                    maxlength="120"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label" for="microchip-select">Microchip</label>
          <select ngModel id="microchip-select" class="form-control" name="microchip">
            <option *ngFor="let microchip of microchips" [value]="microchip._id">{{microchip.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label" for="output-port">Output port</label>
          <select ngModel id="output-port" class="form-control" name="output_port">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
          </select>
          <label>
            <input ngModel class="checkbox" type="checkbox" name="output_port_state">
            <span>Activate?</span>
          </label>
        </div>
        <!--<div class="form-group has-success">-->
        <!--<label class="control-label" for="task-name">Task name</label>-->
        <!--<input type="text" class="form-control" id="inputSuccess1" maxlength="60">-->
        <!--<span class="has-success"><i class="fa fa-check"></i> Success message.</span>-->
        <!--</div>-->
        <!--<div class="form-group has-warning">-->
        <!--<label class="control-label" for="inputWarning1">Input with warning</label>-->
        <!--<input type="text" class="form-control" id="inputWarning1">-->
        <!--<span class="has-warning">Warning message.</span>-->
        <!--</div>-->
        <!--<div class="form-group has-error">-->
        <!--<label class="control-label" for="inputError1">Input with error</label>-->
        <!--<input type="text" class="form-control" id="inputError1">-->
        <!--<span class="has-error">Error message.</span>-->
        <!--</div>-->
      </div>

    </div>

    <div class="card card-primary">
      <div class="card-header">
        <div class="header-block">
          <p class="title">Condition</p>
        </div>
      </div>
      <div class="card-block">
        <div class="condition">
          <div class="form-group">
            <label class="control-label" for="condition-name">Condition name</label>
            <input ngModel id="condition-name" class="form-control" name="condition_name" type="text" maxlength="60"
                   required>
          </div>
          <div class="form-group">
            <div>
              <label>
                <input ngModel (ngModelChange)="checkType($event)" class="radio" name="type"
                       value="input_port"
                       type="radio">
                <span>Input port</span>
              </label>
              <select ngModel id="input-port" class="form-control" name="input_port" [disabled]="!isInputPort">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="input_port_state" [disabled]="!isInputPort">
                <span>Activate?</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <div>
              <label>
                <input ngModel (ngModelChange)="checkType($event)" class="radio" name="type"
                       type="radio" value="datetime">
                <span>Datetime</span>
              </label>
            </div>

            <div class="form-group">
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_monday" [disabled]="isInputPort">
                <span>Monday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_tuesday" [disabled]="isInputPort">
                <span>Tuesday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_wednesday" [disabled]="isInputPort">
                <span>Wednesday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_thursday" [disabled]="isInputPort">
                <span>Thursday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_friday" [disabled]="isInputPort">
                <span>Friday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_saturday" [disabled]="isInputPort">
                <span>Saturday</span>
              </label>
              <label>
                <input ngModel class="checkbox" type="checkbox" name="condition_day_sunday" [disabled]="isInputPort">
                <span>Sunday</span>
              </label>
            </div>

            <div class="form-group form-inline">
              <label class="control-label" for="hours">Hour</label>
              <select ngModel class="form-control" name="hour" id="hours" [disabled]="isInputPort">
                <option value="00">00</option>
              </select>
              <select ngModel class="form-control" name="minutes" id="minutes" [disabled]="isInputPort">
                <option value="00">00</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!--<div id="add-condition" class="card-footer">-->
      <!--<a href=""><i class="fa fa-plus fa-2x text-center"></i></a>-->
      <!--</div>-->
    </div>

    <div class="form-group pull-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</article>
