@import "theme"


html, body, app-root
    display: flex
    flex-direction: column

    font-family: Roboto, 'Helvetica Neue', sans-serif
    margin: 0
    height: 100%

textarea
    resize: none

a
    cursor: pointer

// TODO Center spinner
//md-progress-spinner
//    justify-content: center

app-login, app-signup
    height: 100%

.content
    height: 100%

// Helpers

.fa-external-link
    padding-left: 5px

.hidden
    visibility: hidden

.sub-item
    margin-left: 15px

// Card styles

.card-title a
    text-decoration: none

// Table styles

.mat-table
    overflow: auto

.filter-input-container
    min-height: 64px
    display: flex
    align-items: baseline
    padding: 8px 24px 0
    font-size: 20px
    justify-content: space-between


.mat-input-container
    font-size: 14px
    flex-grow: 1
    margin-left: 32px

.dark-snack-bar
    background-color: white
    &, & button
        color: #212121
