<article [class.hidden]="loading" *ngIf="!loading">
  <app-card [cardWidth]="33">
    <div>
      <h1 class="card-title">
        <a class="text-link" (click)="back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i> New microchip
        </a>
      </h1>
    </div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-form-field class="form-field">
        <input matInput ngModel name="name" placeholder="Microchip name">
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <!--<textarea matInput matTextareaAutosize="resizeToFitContent" ngModel placeholder="Description (optional)"></textarea>-->
        <input matInput ngModel name="description" placeholder="Description (optional)">
      </mat-form-field>
      <br>
      <mat-form-field class="form-field">
        <input matInput ngModel name="ip" placeholder="IP">
      </mat-form-field>
      <div>
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary"
                [disabled]="!form.valid || loading">Submit
        </button>
      </div>
    </form>
  </app-card>
</article>
